
.active{
    color: green;
    font-size: 30px;
}
.InActive{
    color: red;
    font-size: 30px;
}

.demo-class1{
    color: whitesmoke;
}
.demo-class2{
    font-size: 30px;
}
.demo-class3{
    background-color: blue;
}