<p>users-list works!</p>
<!-- {{userDetails[0].name}} -->
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">SNO</th>
        <th scope="col">User ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfUser; let i = index;" >
        <th scope="row">{{i+1}}</th>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
      </tr>
    </tbody>
  </table>

  <h3 *ngFor="let item of countryList; let i = index">{{item}}</h3> -->

  <div [ngSwitch]="userActivationStatus">
    <div *ngSwitchCase="true" [ngStyle]="{'color':'green','font-size':'24px'}">Your account is active</div>
    <div *ngSwitchCase="false" [ngStyle]="{'color':'red','font-size':'24px'}">Your account is not active</div>
    <div *ngSwitchDefault>Sorry condition is not matched</div>
  </div>
{{isActive}}

<!-- color:red,
font-size:20px

var myStyle = {'font-size':'20px','color':'red'} -->

  <h3 [ngStyle]="{'color':'red','font-size':'20px'}">Hi i am using [ngStyle]</h3>
  <h3 [ngClass]="{'demo-class1 demo-class2 demo-class3':true}">Hi How are you i am using [ngClass]</h3>
  <h3 [ngClass]="{'active':isActive,'InActive':!isActive}">Hi How are you i am using [ngClass]</h3>

  <h3 [class.active]="true">i am  [class] binding</h3>
  <h3 [style.color]="isActive ? 'green':'red'" [attr.myData]="'i am learning angular'">i am  [style] binding</h3>
  